<html>
<head>
  <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body>

  <a href="https://github.com/culturehack/data-tool"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


  <div class="page">
    <div class="page-header">
      <a href="http://culturehack.org.uk" class="logo-link">
        <img src="/images/culture-hack.svg" alt="Culture Hack" class="logo" height="96">
      </a>

      <nav class="primary-nav">
        <a href="http://culturehack.org.uk">Home</a>
        <a href="http://culturehack.org.uk/about/">About</a>
        <a href="http://culturehack.org.uk/blog/">Blog</a>
        <a href="http://culturehack.org.uk/prototypes/">Prototypes</a>
        <a href="http://culturehack.org.uk/hack-events/">Hack events</a>
        <a href="/" class="active">Data sources</a>
        <a href="http://culturehack.org.uk/get-in-touch/">Get in touch</a>
      </nav>
    </div>

    <div class="page-content">

      <div class="article-layout">

        <article class="article-content">

          <header>
            <h1><%= title(@source['title']) %></h1>
            <div class="article-meta">

              <% if @source['link'] %>
                <a href="<%= @source['link'] %>" class="button-right button-external">Visit site</a>
              <% end %>

              <% if @source['publisher'] %>
                <p>Published by <span class="publisher"><%= @source['publisher'] %></span></p>
              <% end %>

              <% if @source['categories'] %>
                <span class='categories'>
                  <% @source['categories'].each do |category| %>
                    <span class="category"><%= category %></span>
                  <% end %>
                </span>
              <% end %>

            </div>
          </header>

          <%= RDiscount.new(@source['content']).to_html %>

          <% if @source['size_description'] %>
            <h2>Dataset Size</h2>

            <%= RDiscount.new(@source['size_description']).to_html %>
          <% end %>


          <% if @source['licence_description'] %>
            <h2>Licensing</h2>
            <%= RDiscount.new(@source['licence_description']).to_html %>
          <% end %>

          <% if @source['contact_information'] %>
            <h2>Contact information</h2>
            <%= RDiscount.new(@source['contact_information']).to_html %>
          <% end %>
        </article>

        <aside class="article-aside">

          <div class="article-summary">

            <% if @source['formats'] %>
              <div class="summary-section">
                <h2>Formats</h2>
                <span class='formats'>
                  <% @source['formats'].each do |format| %>
                    <span class="format"><%= format %></span>
                  <% end %>
                </span> 
              </div>
            <% end %>

            <% if @source['size'] %>
              <div class="summary-section">  
                <h2>Size</h2>                      
                <p><abbr class="size size-<%= @source['size'].downcase %>" title="<%= @source['size'] %>"><%= size_abbreviation(@source['size']) %></abbr> <%= size_range(@source['size']) %></p>
              </div>
            <% end %>

            <% if @source['licences'] %>
              <div class="summary-section">
                <h2>Licencing</h2>
                <span class='licences'>
                  <% @source['licences'].each do |licence| %>
                    <span class="licence"><%= licence %></span>
                  <% end %>
                </span> 
              </div>
            <% end %>   

          </div>

        </aside>
      </div>
    </div>

  </div>
</body>