
<section class="options-block">

  <div class="options-content">

    <div class="filter">

      <form>
        <input type="search" name="q" placeholder="Search" value="<%= @search_term %>">
      </form>
    </div>

  </div>

</section>

<section class="options-block">
  <header class="options-header">
    Categories
  </header>
  <div class="options-content">

    <div class="filter">

      <% CATEGORIES.each do |category| %>

        <% if @categories.include?(category) %>
          <% link_categories = @categories.select {|x| x != category} %>
          <% html_class = 'selected' %>
        <% else %>
          <% link_categories = (@categories + [category]) %>
        <% end %>
        <% link_sizes = @sizes %>


        <a href="./?categories=<%= link_categories.sort.join(',') %>&amp;size=<%= link_sizes.sort.join(',') %>" class="<%= html_class %>"><%= category %></a> 
      <% end %>
    </div>

  </div>

</section>

<section class="options-block">
  <header class="options-header">
    Dataset size
  </header>
  <div class="options-content">

    <div class="filter">

      <% SIZES.each do |size| %>

        <% if @sizes.include?(size) %>
          <% link_sizes = @sizes.select {|x| x != size} %>                  
          <% html_class = 'selected' %>
        <% else %>
          <% link_sizes = (@sizes + [size]) %>
        <% end %>

        <% link_categories = @categories %>

        <a href="./?categories=<%= link_categories.sort.join(',') %>&amp;size=<%= link_sizes.sort.join(',') %>" class="<%= html_class %>"><span class="name"><%= size %></span> <small class="description"><%= size_range(size) %></small></a> 
      <% end %>
    </div>

  </div>

</section>